[2019-11-28 17:23] jstac opened #52 "Old ref in lln_clt.rst needs to be fixed"
Seach for "illustrate convergence in the same spirit as the program illustrate_clt.py discussed above."

That program doesn't exist anymore, as far as I can see, so the text needs to be updated to point to a suitable block of code.

[2019-12-11 06:17] jstac opened #49 "Proofread new AR1 lecture"
~~This new lecture was just added in QuantEcon/lecture-source-py#815.~~

~~It will be made live tonight.~~

It definitely needs a careful proofread, both of the English and the maths.  All help is greatly appreciated, especially if you can do it in the next couple of days.

[2020-02-06 08:17] QBatista opened #47 "Typos in the Complex Numbers and Trigonometry lecture"
- "The symbol |z|=\bar{z} z=r represents the modulus of z." and "r=|z|=\sqrt{x^{2} + y^{2}}" are not consistent given "z=x+i y=r e^{i \theta}" and "\bar{z}=r e^{-i \theta}". According to [Wikipedia](https://en.wikipedia.org/wiki/Absolute_value#Complex_numbers), the first equation should be |z|=\sqrt{\bar{z}z}=r.

- "\theta=\tan ^{-1}\left(\frac{y}{x}\right)" and "\tan \theta=\frac{x}{y}" are not c

[2020-03-16 18:13] mmcky opened #2 "[aiyagari] Fix external references"
[code]

[2020-03-16 18:13] mmcky opened #3 "[exchangeable] Fix external references"
[code]

[2020-03-16 18:14] mmcky opened #4 "[finite_markov] Fix external links"
[code]

[2020-03-16 18:16] mmcky opened #5 "[heavy_tails] Fix issues with citations"
[code]

[2020-03-16 18:22] mmcky opened #6 "[inventory_dynamics] Fix citations"
[code]

[2020-03-16 18:22] mmcky opened #7 "[kesten_processes] Fix citation Issues"
[code]

[2020-03-16 18:23] mmcky opened #8 "[lake_model] Fix link to external lecture"
[code]

[2020-03-16 18:24] mmcky opened #9 "[linear_algebra] Fix link to external lecture"
[code]

[2020-03-16 18:25] mmcky opened #10 "[linear_algebra] Fix Undefined Labels"
[code]

[2020-03-16 18:25] mmcky opened #11 "[linear_models] Fix undefined labels"
[code]

[2020-03-16 18:26] mmcky opened #12 "[lqcontrol] Fix links to external documents"
[code]

[2020-03-16 18:27] mmcky opened #13 "[markov_asset] Fix link to external document"
[code]

[2020-03-16 18:27] mmcky opened #14 "[mccall_fiitted_vfi] Fix citation not found"
[code]

[2020-03-16 18:28] mmcky opened #15 "[mccall_model] Fix link to external document"
[code]

[2020-03-16 18:29] mmcky opened #16 "[mccall_model_with_separation] Fix link to external document"
[code]

[2020-03-16 18:29] mmcky opened #17 "[pandasl_panel] Fix link to external document"
[code]

[2020-03-16 18:30] mmcky opened #18 "[perm_incom_cons] Fix link to external document"
[code]

[2020-03-16 18:30] mmcky opened #19 "[samuelson] Fix link to external document"
[code]

[2020-03-16 18:30] mmcky opened #20 "[scalar_dynam] Fix undefined labels"
[code]

[2020-03-16 18:31] mmcky opened #21 "[schelling] Fix link to external document"
[code]

[2020-03-16 18:31] mmcky opened #22 "[troubleshooting] Fix link to external document"
[code]

[2020-03-16 18:32] mmcky opened #23 "[wealth_dynamics] Fix citation issue"
[code]

[2020-03-16 18:52] mmcky opened #25 "[travis] Check travis is setup correctly"

[2020-03-17 10:12] mmcky opened #29 "[pdf] table of contents missing"
@AakashGfude any idea why the table of contents is missing from

http://preview.python-intro.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/_downloads/pdf/introduction_to_quantitative_economics_with_python.pdf

[2020-03-18 05:09] mmcky commented on #25
based on the last few commits. Looks like it is running `make coverage` nicely.

[2020-03-18 05:09] #25 closed

[2020-03-18 09:21] #7 closed

[2020-03-18 09:21] #14 closed

[2020-03-18 09:21] #23 closed

[2020-03-18 09:21] #5 closed

[2020-03-18 09:21] #6 closed

[2020-03-19 00:53] najuzilu opened #34 "Missing citations & relabeled citation keys in `quant-econ.bib`"
I'm posting this issue here but any changes reflected in this repo should be reflected in [lecture-python-advanced](https://github.com/QuantEcon/lecture-python-advanced) and [lecture-source-py](https://github.com/QuantEcon/lecture-source-py). I have gone through all the citations in the `quant-econ.bib` file prior to commit `0fc4b113dfeb9fd7b7e8a2b57c338190acd93b1d` in [lecture-source-py](https://

[2020-03-19 01:56] mmcky commented on #34
thanks @najuzilu this looks great. So we still need to update within document references?

[2020-03-19 01:58] mmcky commented on #34
@jstac should we grep for all citations across the project `rst` files to create a project specific `bib` file? I think that is probably best as they will diverge anyway so should probably clean them of unnecessary references.

[2020-03-19 02:24] najuzilu commented on #34
@mmcky yes, we need to update the within doc citations - which should be easy to do now that we have everything in one file and we know which keys have been updated. Do we have any current script that does something similar?

[2020-03-19 02:24] jstac commented on #34
Thanks @mmcky , that's probably a good idea.

[2020-03-19 04:41] #8 closed

[2020-03-19 04:41] #9 closed

[2020-03-19 04:41] #12 closed

[2020-03-19 04:41] #13 closed

[2020-03-19 04:41] #15 closed

[2020-03-19 04:41] #16 closed

[2020-03-19 04:41] #17 closed

[2020-03-19 04:41] #18 closed

[2020-03-19 04:41] #19 closed

[2020-03-19 04:41] #21 closed

[2020-03-19 04:41] #22 closed

[2020-03-19 04:41] #4 closed

[2020-03-19 04:42] mmcky commented on #34
thanks @najuzilu we do not but it would be good to do programatically.

[2020-03-19 07:44] #2 closed

[2020-03-19 08:18] #34 closed

[2020-03-19 21:27] #10 closed

[2020-03-19 21:27] #11 closed

[2020-03-19 21:27] #20 closed

[2020-03-20 00:58] #3 closed

[2020-03-20 04:41] AakashGfude commented on #29
@mmcky this PR :- https://github.com/QuantEcon/lecture-python-intro/pull/40 should solve this.

[2020-03-20 05:10] #29 closed

[2020-03-20 05:30] mmcky opened #41 "Update about_lectures Page"
@jstac do we want to add an "About these Lectures" page:

http://preview.python-intro.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/about_lectures.html

to each lecture set?

[2020-03-20 06:27] jstac commented on #41
Yes, it's probably a good idea.  For the moment, let's just put in a couple of sentences that say

"This is one of a series of online texts on modern quantitative economics and programming with Python.  This is the first/second/third text in the series, which focuses on programming in Python / introductory material / advanced topics.  For an overview of the series, see `this page <python.quantecon

[2020-03-24 02:36] #41 closed

[2020-03-25 01:47] Harveyt47 opened #43 "'View commits' link broken"
Hi @mmcky the 'view commits' link on the overview [page](https://python-intro.quantecon.org/) is not working for me.

[2020-03-25 03:46] #43 closed

[2020-03-25 06:31] jstac opened #45 "Wrong title"
Title should be "Introductory", not "Introduction to".

https://python-intro.quantecon.org/

CC @mmcky @DrDrij

[2020-03-25 07:19] DrDrij commented on #45
Onto it.

[2020-03-26 00:32] jstac opened #48 "Update linear_models"
The lecture `linear_models.rst` needs to be updated to current style and to reflect existence of new AR1 lecture added in QuantEcon/lecture-source-py#815

[2020-03-26 00:33] jstac opened #50 "Add random seed to wealth dynamics lecture"
For example, we want the figure showing Gini coefficient vs mu_r in `weath_dynamics.rst` to be unchanging.

This is quite subtle due to use of Numba and parallelization (which tends to cause problems with seeds).  I'm not sure it can be done but it needs to be investigated and a rewrite of the code might be required.

[2020-03-26 00:34] jstac opened #51 "Updates to lake model lecture required"
Endogenous flows need to be brought up to date with changes in QuantEcon/lecture-source-py#793.

[2020-03-26 00:40] oyamad opened #53 ""Risk-Free Consol" in Asset Pricing I: Finite State Models"
While we were following the lecture on Asset Pricing I: Finite State Models, we couldn't really understand the description of the model of [A Risk-Free Consol](https://python.quantecon.org/markov_asset.html#A-Risk-Free-Consol): What is the source of the stochasticity here? What makes `m_{t+1}` not equal to `beta`?

[2020-03-26 00:43] oyamad opened #54 "Random seeds in the solution for Exercise 1 in mccall_model"
In the plot from the solution code for Exercise 1:
![image](https://user-images.githubusercontent.com/7353083/57621826-61b98280-75c7-11e9-9e7d-36f516324416.png)
the steps are perfectly flat. I believe this is an artifact of the way how the random seeds are supplied in `compute_mean_stopping_time`, where the seed values are always the same set of numbers `0`, ..., `num_reps`.

As long as `w_bar` is

[2020-03-26 02:59] mmcky commented on #49
@shlff Some of the content of these issues will be a bit confusing. The files in this repo were populated from `lecture-source-py` (7f3d370129befc987a1f895c9910c3b0c46466b1). So the first part of this issue can be crossed through.

[2020-03-26 08:50] mmcky opened #55 "[complex_and_trig] Issues with inline literal"
/home/ubuntu/repos/lecture-python-intro/source/rst/complex_and_trig.rst:486: WARNING: Inline literal start-string without end-string.

[2020-03-26 08:56] mmcky opened #56 "[exchangeable] Issue with anonymous hyperlink"
/home/ubuntu/repos/lecture-python-intro/source/rst/exchangeable.rst:: WARNING: Anonymous hyperlink mismatch: 2 references but 0 targets.
See "backrefs" attribute for IDs.

This may need `__` two (rather than just one `_`

[2020-03-26 08:57] mmcky opened #57 "[index] Issues with Index Files"
[code]

[2020-03-26 08:58] mmcky opened #58 "[linear_algebra] indentation issue"
/home/ubuntu/repos/lecture-python-intro/source/rst/linear_algebra.rst:1549: WARNING: Explicit markup ends without a blank line; unexpected unindent.

[2020-03-26 08:58] mmcky commented on #56
/home/ubuntu/repos/lecture-python-intro/source/rst/exchangeable.rst:26: WARNING: unknown document: odu

[2020-03-26 08:59] mmcky opened #59 "[likelihood_ratio_process] Warning for citations"
/home/ubuntu/repos/lecture-python-intro/source/rst/likelihood_ratio_process.rst:106: WARNING: citation not found: Neyman_Pearson
/home/ubuntu/repos/lecture-python-intro/source/rst/likelihood_ratio_process.rst:520: WARNING: citation not found: Neyman_Pearson

[2020-03-26 09:13] #55 closed

[2020-03-26 09:14] #57 closed

[2020-03-26 09:23] #58 closed

[2020-03-26 09:24] najuzilu commented on #56
I think this needed a ` ` instead of `_` for the odu hyperlinks.

[2020-03-26 09:26] #56 closed

[2020-03-26 09:34] #59 closed

[2020-03-28 09:05] mmcky opened #69 "[wald_friedman] broken link"
(line 818) broken http://nbviewer.jupyter.org/github/QuantEcon/QuantEcon.notebooks/blob/master/Wald_Friedman.ipynb - 400 Client Error: Bad Request for url: https://nbviewer.jupyter.org/github/QuantEcon/QuantEcon.notebooks/blob/master/Wald_Friedman.ipynb

[2020-03-28 09:06] mmcky opened #70 "[optgrowth] Issue with unknown document reference"
[code]

[2020-03-28 09:06] mmcky opened #71 "[cake_eating_problem] duplicate labels and citation issue"
[code]

[2020-03-28 10:50] najuzilu commented on #71
I can't find `ma2020income` in the previous version of the qe bib file.
Also, is it possible to display an equation through referencing? I can't seem to find it in the documentation.

[2020-03-29 01:54] mmcky commented on #71
hey @najuzilu hmm -- do you know which paper that tag might be referring to?

Also not sure what you mean by "possible to display an equation through referencing"?

[2020-03-29 02:53] najuzilu commented on #71
Hm no idea. I tried to do a simple search but got nowhere.

The bellman equation is labeled in two different files; in `cake_eating_problem.rst`:
[code]
Also in `cake_eating_numerical.rst`:
[code]
What's the optimal way to do show this eq without copy-pasting it in the second file?

[2020-03-29 18:34] #69 closed

[2020-03-29 18:38] mmcky commented on #71
@jstac do you know what paper citation label `ma2020income` refers to?

@najuzilu there is no simple way other than to include in a separate file in `source/_static` but that isn't advised for equations. The labels should be made unique by adding:

`bellman-cep` for `cake_eating_problem` and
`bellman-cen` for `cake_eating_numerical`

along with updated references to the `label` in the text respect

[2020-03-29 18:43] mmcky opened #73 "[ols] Broken Links"
[code]

[2020-03-29 18:44] mmcky opened #74 "[rational expectations] Broken Links"
[code]

[2020-03-29 18:46] mmcky opened #75 "[samuelson] broken links"
[code]

[2020-03-29 19:00] jstac commented on #71
Thanks guys.  The ref is

[code]

[2020-03-29 19:47] mmcky opened #76 "[pdf] compilation issue improvement to `sphinxcontrib-jupyter`"
[lecture-python-intro-build-pdf.log](https://github.com/QuantEcon/lecture-python-intro/files/4399649/lecture-python-intro-build-pdf.log)

@AakashGfude I think this will be fixed when we add in a missing reference in the `bibtex` file from #71 but it is something we should fix in `sphinxcontrib-jupyter` with the reference builder to make it more robust to this issue.

[2020-03-29 23:57] AakashGfude commented on #76
True @mmcky . Assuming the array will have elements is not so bright. I will create a PR for this.

[2020-03-30 01:10] najuzilu commented on #73
For the first two please refer to this [issue](https://github.com/QuantEcon/lecture-source-py/issues/806). The links are working fine.

[2020-03-30 02:46] #74 closed

[2020-03-30 02:46] #75 closed

[2020-03-30 02:47] #73 closed

[2020-03-30 03:24] #76 closed

[2020-03-30 03:50] mmcky commented on #73
@najuzilu if you get the chance you you have a search on `google` to see if `sphinx linkchecker` can be configured to ignore these links or be less specific on SSL.

[2020-03-30 09:32] mmcky commented on #71
@najuzilu I will setup a PR to add this to the bib file. I need it merged to see if `pdf` build is fixed.

[2020-03-30 10:58] #70 closed

[2020-03-31 05:53] natashawatkins opened #90 "Add comparative statics to wald_friedman lecture"
* might be a good task for an RA
* look at changing distribution parameters and costs and come up with stories

[2020-04-02 04:39] Harveyt47 opened #91 "Re-naming RHS bellman functions to state_action_value"
In the following lectures we need to change the names of the function which holds/return the RHS of the bellman equation to ``state_action_value`` as in the [cake eating lecture](https://python-intro.quantecon.org/cake_eating_numerical.html#Implementation).

[Job Search I: The McCall Search Model](https://python-intro.quantecon.org/mccall_model.html)
[Job Search II: Search and Separation](https://

[2020-04-04 19:55] jstac commented on #91
Hi @Harveyt47, this got closed automatically by #94, even though it's not complete.  (I guess we have to be careful with language in PRs, so we don't included a phrase like "fix some_PR" when it's only a partial fix.)  I'll reopen and please continue in a similar manner to the last one.

[2020-04-05 05:17] jstac opened #99 "speed/accuracy comparisons using glue functionality"
Once we switch over to myst-nb / jupyter-book, the glue functionality will be idea for cross-lecture numerical comparisons involving solution methods for dynamic programming.

https://myst-nb.readthedocs.io/en/latest/use/glue.html

For example, in our discussion of the optimal growth model and elsewhere, we compare different algorithms in different lectures.  To compare execution speed without rep

[2020-04-05 08:37] najuzilu commented on #99
I love this feature! Nicely done to the team for implementing this. I can already think of a few lectures that could use this feature.

[2020-04-05 23:07] jstac commented on #91
@Harveyt47 , please don't edit the optimal growth lectures at the moment -- I'm doing some improvements on them.  Instead, please go ahead with the job search lectures.

[2020-04-05 23:58] Harveyt47 commented on #99
That's really cool!

[2020-04-06 00:10] choldgraf commented on #99
everybody should think about the name of the tool ("`glue`") and whether it is the right word to use both in the python library, as well as in the markdown...would love to hear your thoughts over in https://github.com/ExecutableBookProject/MyST-NB/issues/110

[2020-04-06 02:11] Harveyt47 commented on #91
Hi @jstac , let me know when is good to make the minor edits in the optimal growth lectures.

[2020-04-14 03:57] Harveyt47 opened #119 "IFP basic EGM section to excerise"
Hi @jstac I noticed the [EGM section](https://python-intro.quantecon.org/ifp.html#The-Endogenous-Grid-Method) in IFP basic is a bit bear and given you use euler without EGM in the lecture I thought it might be a good idea to turn the EGM section into an exercise.

Thoughts @shizejin

[2020-04-14 04:06] jstac commented on #119
Ah, that code's not meant to be there!  I was getting tired at that point!

Please delete that code block and discussion of EGM.  I decided not to treat EGM within the IFP context until ifp_advanced.

Thanks @Harveyt47, very important catch.

[2020-04-14 04:48] #119 closed

[2020-04-19 04:09] spspitze opened #124 "Typo in The Income Fluctuation Problem II: Stochastic Returns on Assets"
Hello,

First off, thanks for all the amazing lectures and packages, I am very grateful for all the work you guys do.

In the lecture *The Income Fluctuation Problem II: Stochastic Returns on Assets*, in the solution to Exercise 1 under your function `compute_asset_series`, you write `Y = ifp.R(z, η)` when it should be `Y = ifp.Y(z, η)`. The resulting series has much higher mean assets and a much

[2020-04-19 04:38] jstac commented on #124
Thanks @spspitze `:-)`

We really appreciate you taking the time to write.  I wrote up that lecture recently while rushing to finish a bunch of other things, and I can see a few other typos too.  I'll fix them now, including the one you mention.  The new version will be live soon.  (CC @mmcky could you please recompile and publish tonight?)

That whole section has been rewritten in the last month

[2020-04-19 04:39] mmcky commented on #124
Sure @jstac ill keep an eye out for the merge.

[2020-04-19 05:14] jstac commented on #124
Thanks guys, fix is here: https://github.com/QuantEcon/lecture-python-intro/commit/439b4382fa618d3d822516461f305a869e955766

@spspitze, I fixed the typo and changed to more reasonable parameters.  I also added a 45 degree plot.  if you have a chance to read carefully and report back it would be much appreciated!

[2020-04-19 14:24] spspitze commented on #124
After the 45 degree plot, you write that these plots are equivalent to
`a' = h(a, z) := R a + z - \sigma^*(a, z)`.
This does not seem right (and numeric results are not the same.)

Do you mean something more like `R = exp(a_r^2 / 2)` and `Y(z) = exp(b_y * z + a_y^2 / 2)`?

Other than that, lecture reads clearer and code looks right. Thanks.

[2020-04-19 14:44] shlff commented on #124
Thanks, @spspitze . I think the the math for the 45 degree plot should equal to `a' = h(a, z) := R (a  - \sigma^*(a, z)) + z`.

[2020-04-19 14:52] spspitze commented on #124
I don't think `E Y(z)= z`

[2020-04-19 18:11] jstac commented on #124
Ah, yes, thank you.  I forgot to update that.  I'll fix it now.

Thanks @spspitze, please keep the comments coming.  Thanks for responding @shlff .

@sayaikegawa, as you can see, there are lots of typos with these new lectures.  It will be great to have you proofread them when you have time.

[2020-04-19 18:25] jstac commented on #124
OK, I've fixed this in https://github.com/QuantEcon/lecture-python-intro/commit/f13d40ad402bc067929f80b361de22b626aa447a , including a clean up for the discussion of the same point in the earlier IFP lecture.

I'm going to close this issue, but please open a new one if you spot a problem.  @mmcky , please make live when you have time.

[2020-04-19 18:25] #124 closed

[2020-04-20 23:16] mmcky commented on #124
thanks @jstac --- this is now live.

[2020-04-22 00:58] Harveyt47 commented on #48
Hi @jstac now that `linear_models.rst`(lss) has the code to generate the plots is there anymore to this issue, or is this issue a re-write of the whole lecture into a different format. I can see some differences between the AR1 lecture on lss.

For example in defining the [model in lss](https://python-intro.quantecon.org/linear_models.html#The-Linear-State-Space-Model) we define the matrix's first

[2020-04-22 01:20] Harveyt47 commented on #52
I believe it should point to this [block of code](https://python-intro.quantecon.org/lln_clt.html#Simulation-1)

[2020-04-22 01:46] jstac commented on #48
Perhaps a good start is to read through the lecture carefully, after reading the AR(1) lecture, and see how well the second flows from the first.

If not very well, then please suggest some small improvements.

At minimum, this lecture should reference the AR(1) lecture, suggest it as background reading and give some indication of how it's extended.

Also, I think this should have been cut: "Later

[2020-04-22 04:58] #47 closed

[2020-04-22 07:08] Harveyt47 commented on #48
Hi @jstac I have looked over AR(1) and linear_models (lss).
Both lectures have a similar flow in that it moves from model set up, moving average representation, distributions and the stationary distribution.
While lss has more content outside of this it moves in this order only with the exception that at the beginning it has examples to illustrate the dynamics that govern the model.
It might be ni

[2020-04-23 00:51] Harveyt47 commented on #51
Point of possible confusion.

d is used in [McCall](https://python-intro.quantecon.org/mccall_model_with_separation.html#A-Simplifying-Transformation) for the expected value of unemployment tomorrow,

while [lake model](https://python-intro.quantecon.org/lake_model.html#The-Model) d is used to denote labour market exit rate.

[2020-04-23 00:58] Harveyt47 commented on #51
in [lake](https://python-intro.quantecon.org/lake_model.html#Fiscal-Policy) `u` is used to denote both unemployment rate and the utility function

[2020-04-23 01:15] Harveyt47 commented on #51
Change links for [McCall model](https://python-intro.quantecon.org/mccall_model.html) to McCall [search and separation model](https://python-intro.quantecon.org/mccall_model_with_separation.html#Job-Search-II:-Search-and-Separation). I think the search lecture is more connected than McCall 1.

[2020-04-23 01:32] Harveyt47 commented on #51
Move utility function and `update_bellman` function into [MccallModel](https://python-intro.quantecon.org/lake_model.html#Fiscal-Policy-Code) class and `jitclass` the class.

Also make sure variables are consistent across lectures.

split `MccallModel` and `solve_mccall_model` into different cells.

[2020-04-23 02:03] jstac opened #126 "Add commodity pricing model"
It's not hard --- just a reinterpretation of the IFP model.  Since we have that already, it's an easy win, and a useful topic to cover.

[2020-04-23 05:07] jstac opened #127 "New lecture on empirical distributions and density estimation"
This can be added to the "Tools and techniques" section.

We often discuss these topics piecemeal in the middle of other lectures.  For example, nonparametric density estimation comes up quite often.  We should locate all instances and relate them to this lecture.

Topics include empirical distributions and the functional LLN, histograms, violin plots, box and whiskers plots, NPKDEs.

Valuable bec

[2020-04-23 05:43] jstac opened #128 "notational changes in Cass-Koopmans lecture"
For greater consistency with other lectures:

In https://python.quantecon.org/cass_koopmans.html, shift state and control variables to lower case.

* e.g., $K_t$ should be $k_t$.

For vectors, use bold rather than arrows above the symbol.

[2020-04-23 05:45] Harveyt47 commented on #128
there is now referring to the two new lectures on Cass-Koopmans
[Cass-Koopmans Planning Problem](https://python-intro.quantecon.org/cass_koopmans_1.html)
[Cass-Koopmans Competitive Equilibrium](https://python-intro.quantecon.org/cass_koopmans_2.html)

[2020-04-23 05:47] jstac opened #129 "The basic Melitz model"
https://onlinelibrary.wiley.com/doi/pdf/10.1111/1468-0262.00467

We could start off with a closed economy.  This is a fundamental model.

One possible extension is http://users.ox.ac.uk/~econ0506/Documents/Working/FirmGrowth-Manuscript.pdf

[2020-04-23 05:59] jstac opened #130 "Add a lecture on Howard PFI?"
Compare with other methods. For example, in the optimal growth setting, how does it compare to Coleman policy iteration or value function iteration?

[2020-04-23 09:47] thomassargent30 commented on #128
We are using a Big K little k argument here do both K and k should remain

On Wed, Apr 22, 2020, 11:45 PM Harvey Thompson <notifications@github.com>
wrote:

[2020-04-24 02:19] Harveyt47 commented on #51
I think at minimum we should do the following which can be found in this [notebook](https://github.com/Harveyt47/Test/blob/master/lake_model.ipynb).

Main changes are in endogenous flow [section](https://python-intro.quantecon.org/lake_model.html#Fiscal-Policy-Code)

I also add a `random_state=seed` in the markov chain [simulation] (https://python-intro.quantecon.org/lake_model.html#Convergence-Ra

[2020-04-24 05:13] Harveyt47 commented on #50
I've been in search of a way to set a seed once for the whole lecture and I noticed this.

![image](https://user-images.githubusercontent.com/58153750/80177107-fdf46200-863d-11ea-848b-0cb057672ab1.png)

It seems like the seed does not stay across cells.

[2020-04-24 05:25] mmcky commented on #50
@Harveyt47 I think what is happening here is that RandomState is setting a deterministic sequence of values. So `randn` is extracting numbers from that sequence right?

[2020-04-24 05:41] Harveyt47 commented on #50
That's what I thought but when I run the first cell it always returns 0.471... Is that consistent with what your saying @mmcky. I would have expected it to change.

[2020-04-24 05:46] Harveyt47 commented on #50
Also using this type of method has issues with jitted classes and functions. I'm not sure jit can interpret the `seed` variable in the above pic.

I've noticed that in the [draw function] in(https://quanteconpy.readthedocs.io/en/latest/_modules/quantecon/random/utilities.html#draw) in the qe library we can not set a seed for it.

[2020-04-24 05:54] Harveyt47 commented on #90
PR #88 is related to this issue

[2020-04-24 05:59] mmcky commented on #50
when you rerun the first cell you're just reseting the sequence again right?

[2020-04-24 06:11] Harveyt47 commented on #50
I see

[2020-04-24 06:12] jstac commented on #50
@Harveyt47 , I recommend you create a little test notebook where you try to understand random seeds and how they interact with numba and prange.

You might need to do some background reading in the numba docs.  Once you have the main ideas worked out, it would be great if you could share it with us.  We might even end up writing a short lecture on this topic, because not many people understand it,

[2020-04-24 06:14] Harveyt47 commented on #50
Hi @jstac that sounds like a great idea. I'll get on it

[2020-04-26 20:42] spspitze opened #137 "Minor Typos in Production Smoothing via Inventories"
Spotted some minor typos in *Production Smoothing via Inventories*. Nothing that changes any results. Let me know if there is a better place to raise these issues.

1. Formula in *Overview* reads zt+1=A22zt+C2ε_t+1, missing last _ .

1. You name most other classes with capital letters but label this one in snake case.

1. When constructing init of class, use `A22` and `C2` instead of `self.A22` an

[2020-04-26 23:02] jstac commented on #137
Hi @spspitze, many thanks for the report.  This is very helpful.  We will review the lecture and look into a fix.  Please let us know if you spot any more issues!

[2020-04-27 02:48] Harveyt47 commented on #137
Hi @jstac , thanks @spspitze I will review this lecture and your typo pick ups.

[2020-04-27 02:54] thomassargent30 commented on #137
Dear John and Harvey, Zejin and I will work on fixing these in the sandpit.
Please stay tuned. Tom

On Sun, Apr 26, 2020, 8:48 PM Harvey Thompson <notifications@github.com>
wrote:

[2020-04-27 03:34] shizejin commented on #137
Thanks @spspitze! These are great suggestions.

All the typos have been corrected in [this commit](https://github.com/QuantEcon/python_lecture_sandpit/commit/dd3d77fd36f4e1c60eb398f12d350081cd8ad1b1).

@jstac @Harveyt47 @thomassargent30

[2020-04-27 09:04] jstac commented on #137
Many thanks @shizejin.

(If you don't mind, I prefer that only Tom and I commit to master -- and only for minor changes.  @mmcky has set up automatic testing through GH actions for every pull request, so that's the safest way.)

[2020-04-27 10:14] shizejin commented on #137
Hi @jstac I just wanted to clarify that the previous commit was to the sandpit repo. I would love to make a PR to this repo if you and Tom approve the changes I made.

But it would be great to know the rules if you were talking about sandpit repo. If that is the case, I will make sure to commit to sandpit repo through PR each time.

[2020-04-27 10:21] jstac commented on #137
Oh, sorry @shizejin `:-)`.  I was a bit surprised when I thought you committed to master in the live site!

Please feel free to commit to master in the sandpit repo!  I'll keep my eyes open for a PR here.

[2020-04-27 10:24] shizejin commented on #137
@jstac Thanks! I will set up a PR as soon as Tom reviews and approves the updated lecture in sandpit repo.

[2020-04-28 02:26] najuzilu opened #140 "[navy_captain] LoweringError+NumbaParallelSafetyWarning"
I am executing lectures using `environment.yml`. The following warning occurs:
[code]
Then, the following error occurs:
[code]

[2020-04-28 04:39] najuzilu commented on #140
I don't think the error has anything to do with compatibility between Numba and llvmlite (see suggestion [here](https://github.com/numba/numba/issues/5076)). From the documentation Numba=0.49 is compatible with llvmlite=0.31 ([llvmlite>=0.31,<0.33](https://github.com/numba/numba/blob/master/requirements.txt)).

[2020-04-28 06:30] najuzilu opened #143 "numba 0.49 jitclass decorator moved"
When we upgrade numba from 0.48 to 0.49+ we should be aware of the following changes ([numba doc](https://numba.pydata.org/numba-doc/dev/reference/deprecation.html)):

The fix would include updating `from numba import njit` to `from numba.experimental import jitclass`.

[2020-04-28 06:55] mmcky commented on #143
thanks @najuzilu this is helpful.

the current `anaconda` release is `0.48` so we will need to keep this in mind when the next `anaconda` is released.

[2020-04-29 02:00] sayaikegawa opened #148 "Optimal Growth I _mathematical improvement"
It may be wrong but I'm confused about the equation ρ(g,h)=sup|g(y)−h(y)| in [Optimal growth](https://python-intro.quantecon.org/optgrowth.html#Review-of-Theoretical-Results)
Following the lemma in the textbook,
|Tg - Th| = |max{u(c)+β∫g(f(y−c)z)ϕ(dz)} - max{u(c)+β∫h(f(y−c)z)ϕ(dz)}|
                ≤ β max |∫g(f(y−c)z)ϕ(dz)-∫h(f(y−c)z)ϕ(dz)|
                ≤ β max ∫||g - h||ϕ(dz) = β|g - h|

So,

[2020-04-29 03:05] shlff commented on #148
Hi, @sayaikegawa .

1. ![\rho](https://render.githubusercontent.com/render/math?math=%5Crho) in ![\rho(g, h) ](https://render.githubusercontent.com/render/math?math=%5Crho(g%2C%20h)%20) of [lecture](https://python-intro.quantecon.org/optgrowth.html#Review-of-Theoretical-Results) is a [metric](https://en.wikipedia.org/wiki/Metric_(mathematics)),
2. ![\rho](https://render.githubusercontent.com/rende

[2020-04-29 03:33] sayaikegawa commented on #148
Thank you @shlff , I understand.

[2020-04-29 03:33] #148 closed

[2020-04-29 04:04] jstac commented on #148
Thanks @shlff for clarifying comments.

[2020-05-01 01:10] #45 closed

[2020-05-01 02:48] #52 closed

[2020-05-02 05:45] mmcky opened #159 "[NameChange] Revert this commit once repo name can be changed"
- [x] update repo name in `index.rst` links to `lecture-python` as per https://github.com/QuantEcon/meta/issues/2

https://github.com/QuantEcon/lecture-python-intro/pull/144/commits/b74738f96559c05cc8403e7f013f5702560195f9

and

https://github.com/QuantEcon/lecture-python-intro/pull/144/commits/e2c6204654398f52497d3209562c82be74be2950

The PR #144 originally had the chance but was modified to let

[2020-05-03 01:45] najuzilu opened #164 "[odu] NotImplementedError: Failed in nopython mode pipeline"
The `odu.rst` lecture fails to execute due to a `NotImplementedError`. Below is a screenshot indicating where the execution fails.

<img width="1021" alt="Screen Shot 2020-05-03 at 11 45 01 AM" src="https://user-images.githubusercontent.com/33075058/80896600-87d5b680-8d33-11ea-98b7-25091305d6a9.png">

[2020-05-03 04:12] mmcky commented on #164
@najuzilu is this a `numba` version issue?

[2020-05-03 04:14] mmcky opened #165 "Review Nightly Scripts - Coverage"
@AakashGfude would you mind to cast an eye over

https://github.com/QuantEcon/lecture-python-intro/runs/639609711?check_suite_focus=true

the nightly logs for `coverage` testing. There are some cell results that appear to indicate some broken code but the coverage run is succesful. Do you have time to look into this?

[2020-05-03 05:52] AakashGfude commented on #165
@mmcky sure, I will have a look at this.

[2020-05-03 06:51] AakashGfude commented on #165
Looks like the execution  has the following errors only documented by @najuzilu
https://github.com/QuantEcon/lecture-python-intro/issues/140
https://github.com/QuantEcon/lecture-python-intro/issues/164

Anyone proficient in `numba` in the team? @jstac

[2020-05-03 08:08] jstac commented on #140
@Harveyt47 could you please investigate?

[2020-05-03 09:35] najuzilu commented on #164
I ran the notebook using `numba=0.48` and the error persists.

[2020-05-03 09:47] najuzilu commented on #164
@mmcky it looks like `!pip install interpolation` line is updating `numba` from 0.48 to 0.49.

[2020-05-03 10:16] najuzilu commented on #140
This is a `numba` version issue. It looks like `!pip install interpolate` updates `numba` from 0.48 to 0.49. I have come up with a solution by adding `interpolation` and specifying `numba=0.48` under `environments.yml`. This implies that the `!pip install interpolate` is commented out in the lecture.

Maybe @mmcky can suggest a better solution than the one I have implemented.

[2020-05-03 10:36] mmcky commented on #140
`numba=0.48` is what we need to support at this time as it is packaged with current anaconda.

But it is good to know we will need fix something for `numba=0.49` so we will need to investigate how to fix this with the updated `numba` which will happen pretty quick I am guessing.

[2020-05-03 10:38] mmcky commented on #164
If `numba=0.48` is ok I wonder why coverage isn't picking this up.

@AakashGfude can you add this as part of your review of the nightly scripts.

[2020-05-03 10:40] najuzilu commented on #164
I ran the lecture using `numba=0.48` and get the following error:

<img width="1016" alt="Screen Shot 2020-05-03 at 8 40 08 PM" src="https://user-images.githubusercontent.com/33075058/80912144-50d8c280-8d7e-11ea-97a0-b9f59d304e5c.png">

[2020-05-03 14:53] AakashGfude commented on #165
@mmcky @najuzilu ,  as mentioned by @najuzilu , that `interpolate` upgrades numba from `0.48` to `0.49` or higher. And for good reason, as `numba.core` was introduced in `0.49` which it heavily relies on it seems. Just rechecked in `numba 0.48` version and the module was not there.
As a result, when doing
[code]

we get the following error

[code]

which breaks the system.

There might be other er

[2020-05-03 19:15] jstac commented on #140
Nice detective work guys.

I guess this is a general issue with having `pip install --upgrade xyz`.  I hadn't thought about it until now.

Sounds like 0.49 is a big new release with lots of changes: http://numba.pydata.org/numba-doc/latest/release-notes.html#version-0-49-0-apr-16-2020.  I couldn't see anything about `prange` though.  I hope they haven't mucked it up because we rely on it so much.

[2020-05-04 01:12] Harveyt47 commented on #140
Hi @jstac @najuzilu @mmcky  I'm looking into `@njit(parallel=True)` `prange` now, I'll see if I come across any info that is related to this issue.

[2020-05-04 03:52] mmcky commented on #140
This is a tricky issue.

We could add a version requirement for interpolation but that is a maintenance burden. I wonder if that could be added to `environment.yml` and then when the notebook builds any version specified would pass through. (#wishlist item)

[2020-05-04 04:03] spspitze opened #168 "Issues in: A Lake Model of Employment and Unemployment"
I noticed some errors in *A Lake Model of Employment and Unemployment* that effect the code and exercise solutions.

1. When creating the Lake Model class, the `@property` for lambda says to change alpha. This makes Exercise 1 incorrect.

1. Exercise 2 says to raise birth rate to `b = .0025`. I think you mean `b=.025`, and the code reads `b=.003`.

1. Also a minor note, but in *The Model* under *A

[2020-05-04 04:04] mmcky commented on #164
@najuzilu thanks. One thing I don't understand though is why the build server is working fine and it includes a pip install for interpolation.

https://python-intro.quantecon.org/odu.html

I suspect what is happening is if the package has installed in the past it will continue to work as it doesn't have an ``--upgrade`` flag. Without that flag it won't upgrade that package.

[2020-05-04 04:12] jstac commented on #168
Thanks @spspitze, much appreciated once again.

Can I ask your opinion on something?  I'm tempted to get rid of all the `@property` getter and setter stuff from the class.  Yes, it's good software engineering practice.  But for such a small class that's only used as a learning resource, do we really want it there?  To me it seems like too much boiler plate.

Maybe it's better just to have a commen

[2020-05-04 04:17] jstac commented on #140
Or we could remove the `--upgrade` flag from all the pip installs.

I'm starting to think this would be better, since the current set up makes the execution environment dynamic and unpredictable.

The flip side is that might end up using old libraries.  But if our entire anaconda environment is refreshed every so often, the libs will be pip installed again.

[2020-05-04 04:23] mmcky commented on #140
I think I agree here as the `best` approach.

The only issue will be:
1.  if we add something to the lectures that is needed in a later version and many users haven't upgraded (which from memory is why we added it?).
2. if a package is not in `conda` which version should be the default (i.e. it would essentially be the latest `pip` package version available when the lecture was written I guess.

W

[2020-05-04 04:26] najuzilu commented on #140
@jstac Are you refer to the `pip install --upgrade quantecon` line? I tested the numba version pre and post `pip install --upgrade quantecon` and found that it does not affect the numba version.

[2020-05-04 04:27] Harveyt47 commented on #140
Hey @jstac I've been playing about with the function and I think there is some issue with the way the `while true` loop and the `prange` loop interact.

I have noticed that when I remove the `while true` loop the function does not return an error. If this was purely a `numba` issue I would have expected the same error to have been returned.

I'm still working on the fix. I note a suboptimal fix is

[2020-05-04 05:57] AakashGfude commented on #164
@mmcky I am curious, which version of interpolation, does the server have. I have `2.1.5` which breaks in `0.48`.

[2020-05-04 06:13] #91 closed

[2020-05-04 09:58] sayaikegawa commented on #168
Hi @jstac , I also think that `@property` is too much.
(Only using `class` can update `g` by changing parameters.)

And I found a crucial typo in the solution code of exercise1, but it depends on the decision whether keep `@property` or not.  So I'll fix it later.

[2020-05-04 14:15] spspitze commented on #168
I'm a bit more positive about `@property`. As @sayaikegawa says, it's not super necessary, but it is a nice reminder of how classes work and that we may need to be careful when changing parameters. As a toy use of the feature, it helped remind me that it existed and how I would implement it in practice. But I could also see the lesson flowing smoother if it were cut.

[2020-05-04 18:01] jstac commented on #168
Thanks for your input guys.  In order to focus on the economics, let's go ahead and cut the `@property` stuff from the main section.  But let's keep it as an exercise.

@sayaikegawa, would you mind to do this while you fix the typo, also collaborating with @Harveyt47  in #169 ?

You will need to change the text above the class, then change the class, then add an exercise which explains the issue w

[2020-05-04 18:23] jstac commented on #140
Thanks @Harveyt47 .  Getting rid of parallelization is certainly an easy fix but I hope we can do better.

@najuzilu Yes, you're right.  If we pip install without `--upgrade` in a fresh environment, this still affects the environment through dependencies specified in the package.  Good point.

Perhaps we just have to live with this and rely on tests to catch errors.

@mmcky Do you have any more th

[2020-05-04 23:10] sayaikegawa commented on #168
I understand @jstac ,
We have other issue #51 for this lecture , so we will discuss and fix it all.

About changing 'flows' to 'rates', do you think it is ok?
Just in case I would like to ask you that, because I found "flow is analogous to rate" in [Stock and flow](https://en.wikipedia.org/wiki/Stock_and_flow).

[2020-05-05 00:11] najuzilu commented on #164
@mmcky I suspect the same thing. I tested it locally and `pip install` **without** the `--upgrade` option checks to see if the package is installed. If the server's environment has been upgraded to `numba=0.48` then the version of the `interpolation` package has to be < 2.1.2 as `numba=0.48` and `interpolation=2.1.2` throws the error I mentioned previously (see reference below). It seems like `int

[2020-05-05 03:11] shizejin opened #170 "Update `wald_friedman`"
Hi @jstac, I noticed that the wald_friedman is still using function factory style and I am wondering if we should update it to using `jitclass`. The code in this lecture is also used in the navy_captain lecture so the return on addressing this should be quite high.

If you think this might be good and there is no one else working on this, I would like to take a try :-)

[2020-05-05 06:24] Harveyt47 commented on #51
@sayaikegawa and I have discussed a number of changes to be made not only to the lake model but other lectures to maintain notational consistency.

[Finite Markov](https://python-intro.quantecon.org/finite_markov.html#Example-1) changes
- change \alpha -> \lambda
- change \beta -> \alpha
- change \lambda -> \pi [here](https://python-intro.quantecon.org/finite_markov.html#Calculating-Stationary-Dis

[2020-05-05 06:45] jstac commented on #51
Sounds good guys, looking forward to seeing the PRs.

[2020-05-05 06:49] jstac commented on #170
That would be great, thanks @shizejin !

[2020-05-05 06:52] jstac commented on #168
Please change the sentence to "Here and below, capital letters represent aggregates and lowercase letters represent rates."

[2020-05-06 00:51] mmcky opened #178 "Review all lectures using `numba=0.47`, `numba=0.48`"
We are getting reports of issues for `numba=0.49` coming through on the `QuantEcon` package as well as lecture failures. There are some big changes in `numba=0.49` due to restructuring the package. While it isn't in `anaconda` release yet -- if anyone updates numba (or packages that pull in the latest numba like `interpolation`) it becomes an issue.

We need to review all lectures in a controlled

[2020-05-06 02:41] mmcky commented on #165
@AakashGfude do you know why `make coverage` isn't failing in this case?

[2020-05-06 03:16] mmcky opened #179 "Improve Github Actions to do a clean build upon request"
It would be nice to be able to check `numba=0.49` and future software configurations. Perhaps if `environment.yml` file is listed as a changed file then we can trigger a full `clean` build instead of a build of changed `RST` files.

An alternative implementation would be to check for a `.clean` file which would turn on clean builds but my fear would be that it wouldn't get removed before merge.

[2020-05-06 04:02] AakashGfude commented on #165
@mmcky its weird. It should ideally through the status code of 1, which it is doing in my local system.

[2020-05-06 04:06] AakashGfude commented on #165
@mmcky maybe it is not failing because the lastest release of `sphinxcontrib-jupyter` still does not have the functionality of throwing status code 1, in the end of the build when a notebook execution fails?

[2020-05-06 04:10] mmcky commented on #165
ah - thanks @AakashGfude!

[2020-05-06 05:30] mmcky commented on #179
I am working on a solution to this in https://github.com/QuantEcon/lecture-python-intro/pull/180

[2020-05-06 05:38] mmcky commented on #165
I think this issue will be resolved with `sphinxcontrib-jupyter=0.5.5`

[2020-05-06 05:38] #165 closed

[2020-05-06 06:31] mmcky opened #182 "[Execution Testing] Out of sequence log information"
Current `execution` tests show diagnostic information that is out of sequence.

https://github.com/QuantEcon/lecture-python-intro/pull/181/checks?check_run_id=648513669

It shows output from failed `dask` workers before the list of files.

But the list of files does have `failed` and `pass` so the lecture can be identified. So this is a low priority right now.

[2020-05-06 11:09] mmcky commented on #178
I have done some more digging and it appears that our lectures have an issue with `numba=0.47+`. We will need to pin `interpolation=2.1.2` until we reach `numba=0.49` compatibility.

Interpolations isn't implementing support for multi-versions of `numba`

[2020-05-06 11:10] mmcky commented on #178
@najuzilu can you do some digging using environment.yml file for PR #183 to see what the issue is?

[2020-05-07 00:13] najuzilu commented on #178
@mmcky on it!

[2020-05-07 00:15] mmcky opened #187 "[likelihood_bayes] Fix Formulae in new lecture"
@Harveyt47 can you look into this issue with the formulae. Thanks.

<img width="940" alt="image" src="https://user-images.githubusercontent.com/8263752/81240738-92ea5880-904b-11ea-9653-9b29fc7ad352.png">

[2020-05-07 00:16] Harveyt47 commented on #187
yep on it

[2020-05-07 00:21] Harveyt47 commented on #187
This is strange @mmcky, I just built the lecture and got this
![image](https://user-images.githubusercontent.com/58153750/81241010-6b47c000-904c-11ea-9b52-f81980d7b3f4.png)

[2020-05-07 00:24] najuzilu commented on #178
@mmcky the `navy_captain` lecture executes with no errors. Did you remove `--upgrade` from these lectures?
- cake_eating_numerical.rst
- mccall_correlated.rst
- mccall_fitted_vfi.rst
- optgrowth_fast.rst

Otherwise, there's no reason it should be failing.

[2020-05-07 00:45] Harveyt47 commented on #140
Hi @jstac @najuzilu @mmcky this is a tricky issue, so I asked numba for some help and reproduced some code that was similar to the code creating the issue. I got this response.
![image](https://user-images.githubusercontent.com/58153750/81242044-6e907b00-904f-11ea-8a79-5d351c3c401c.png)

I've make an issue on the numba issue tracker, you can see it [here](https://github.com/numba/numba/issues/5678

[2020-05-07 02:19] najuzilu commented on #179
nice implementation @mmcky!

[2020-05-07 04:59] jstac opened #192 "Proofread new SIR lecture"
Added in #191

[2020-05-07 06:10] Harveyt47 commented on #192
@jstac I'll be sure to make a tweet about this lecture.

[2020-05-07 07:04] jstac commented on #192
Thanks @Harveyt47 , yes please.

Once you've checked it and @mmcky has made it live I'll send it to Tom to take a look.

[2020-05-07 07:12] mmcky commented on #192
@jstac I have triggered a `pdf` build to get the associated `pdf` of the page. As it is a new lecture it needs to build the `pdf` of the lecture for the first time and then the download link won't resolve to a 404. Once that is done I will make `live`

[2020-05-07 10:47] mmcky commented on #192
@jstac this is now live

[2020-05-07 14:49] shlff commented on #192
@jstac , this lecture is interesting to read. Maybe we can add an exercise of a quantitative experiment to it and also look at the distribution of confirmed cases in a simulated growth model, matching with a real-world dataset, like [JHU CSSE's](https://github.com/CSSEGISandData/COVID-19).

[2020-05-07 22:48] mtiley commented on #192
Yeah this is interesting. I really like your idea @shlff.

One thing I noticed: in `Experiment 2` the lecture refers to R0 changing, as a function of time/social distancing:
![image](https://user-images.githubusercontent.com/56301568/81351544-ec17c200-9107-11ea-9005-352292ed6b3d.png)
I don't think this is strictly correct -- R0 is the 'basic' value of the effective reproduction number R(t) when th

[2020-05-07 23:09] Harveyt47 commented on #192
Hi @mtiley yesI think that is correct. `R` as a function of time with `R0` being the initial value.

[2020-05-07 23:45] mtiley commented on #192
Thanks @Harveyt47 I'll make a PR

[2020-05-08 00:19] mmcky commented on #178
Closing issues as we have identified problems with `odu` and `navy_captain`

[2020-05-08 00:19] #178 closed

[2020-05-08 00:19] mmcky opened #196 "[odu] Lecture failing with numba=0.47+"
We need to diagnose and fix the issue with `odu` with `numba >= 0.47`

[2020-05-08 00:20] mmcky commented on #196
@najuzilu once a fix is identified we can open a separate PR and once merged we will then merge `master` into PR #193 and re-run the tests

[2020-05-08 00:21] mmcky commented on #196
Versions are currently pinned on `master` to get CI working again.

[2020-05-08 01:03] mmcky opened #198 "Review dependencies on interpolations package"
The `interpolations` package tries to maintain bleeding edge integration with `numba` and currently supports `numba>=0.49`. This causes issues with the lecture series dependence on `anaconda` releases as `numba` trails in `anaconda`.

We should see if we can add `jitted` interpolation functions to [QuantEcon.py](https://github.com/QuantEcon/QuantEcon.py) to replace dependence on `interpolations`

[2020-05-08 01:31] mmcky commented on #196
See #164

[2020-05-08 01:38] mmcky commented on #140
@Harveyt47 in that example the outer loop will always run `10` times right? If you replaced the `while` with a `for` loop do you get the same result?

[2020-05-08 01:49] Harveyt47 commented on #140
Hi @mmcky when I run
[code]
I get the same result

[2020-05-08 01:53] mmcky commented on #140
Curious -- you should probably remove the `i+=1` for the `for` loop.
I will not get distracted with this today -- as it has been received as a bug at numba so will leave it with them.

`navy_captain` works in `numba=0.48` right -- this is just a `numba=0.49` issue?

[2020-05-08 01:55] Harveyt47 commented on #140
yes your right @mmcky

[2020-05-08 01:55] Harveyt47 commented on #140
when I run
[code]

[2020-05-08 01:55] Harveyt47 commented on #140
it warning goes away

[2020-05-08 02:12] shlff commented on #192
Thanks @mtiley and @Harveyt47 .

My concern about your proposal is that we already have a ![R](https://render.githubusercontent.com/render/math?math=R), which represents the "remove" state in the above context and is different from ![R(t)](https://render.githubusercontent.com/render/math?math=R(t)), please see [here](https://python-intro.quantecon.org/sir_model.html#The-SIR-Model). I guess this is

[2020-05-08 02:19] Harveyt47 commented on #192
Hmm yes @shlff I see what you're saying. Perhaps `R_t` would be better?

[2020-05-08 02:29] mtiley commented on #192
Thanks @shlff and @Harveyt47.

Yep, I think `R_t` is a good solution, and is used by Atkeson whose result is replicated in the lecture.

[2020-05-08 06:18] najuzilu commented on #196
I suspect `v_func` is causing this lecture to fail. Updating `integral_f, integral_g = 0.0, 0.0` to `integral_f, integral_g = 0, 0` and then replacing
[code]
with
[code]
does not throw any errors.

[2020-05-09 03:21] mmcky commented on #196
@najuzilu you may want to consult with @shizejin to get his expertise on this issue?

[2020-05-09 15:45] shizejin commented on #196
@mmcky @najuzilu I'll try my best to see if I could help with this issue! :-)

[2020-05-09 21:13] spspitze opened #204 "Small thing in Stability in Linear Rational Expectations Models"
A small thing regarding _Stability in Linear Rational Expectations Models_. In section __Illustration: Cagan’s Model__ subsection __Alternative Code__, you run a `LinearStateSpace()` simulation, but graph the results of the previous code.

Thanks.

[2020-05-10 03:31] jstac commented on #204
Thanks @spspitze !

Could someone please put  a PR together to fix this?  CC @shlff @Harveyt47 @sayaikegawa @mtiley

[2020-05-10 03:49] shlff commented on #204
Thanks @spspitze and @jstac . Sure!

[2020-05-10 03:49] Harveyt47 commented on #204
Hi @spspitze @jstac will do I believe

[code]
Should fix this. I'll make a PR

[2020-05-10 03:54] spspitze commented on #204
I think the relevant info is all in y. So it should be y[0, :] and y[1, :]
iirc.

On Sat, May 9, 2020, 11:50 PM Harvey Thompson <notifications@github.com>
wrote:

[2020-05-10 03:59] Harveyt47 commented on #204
Yeah @spspitze that is nicer. Thanks!

[2020-05-10 04:00] Harveyt47 commented on #204
I'll make the PR @shlff

[2020-05-10 07:56] #204 closed

[2020-05-11 01:38] #179 closed

[2020-05-11 01:38] mmcky commented on #159
This is done

[2020-05-11 01:38] #159 closed

[2020-05-11 01:55] najuzilu commented on #192
this looks interesting https://www.nber.org/papers/w27102

[2020-05-11 06:28] najuzilu commented on #196
@mmcky @shizejin I've already implemented the fix for `numba=0.47,0.48` locally.  Just testing @jstac's interpolation methods for `numba=0.49` since `interpolation=2.1.2` is incompatible with this numba version. Should be able to make a PR soon.

[2020-05-11 07:29] albop commented on #198
I've got no objection here, but if it's a problem it's easy to add backward compatibility to interpolation.py. The breaking change just comes from numba moving the location of it's core types.

[2020-05-11 07:49] mmcky commented on #198
hey @albop -- if you're willing to add in support for `numba` that is contained in the latest `anaconda` distribution that would be great. 👍  -- Currently that is `numba=0.48`.

[2020-05-11 08:29] albop commented on #198
Yes, it's no big deal. I've spent a lot of time recently doing conda
packaged like you taught me. Will check back on a few hours

On Mon, May 11, 2020, 9:49 AM mmcky <notifications@github.com> wrote:

[2020-05-11 23:15] mmcky commented on #196
@najuzilu interpolations has been updated so we can use `interpolation=2.1.6` or not specify a version now. I have updated the PR to remove the `numba` version and `navy_captain` is working again.

[2020-05-12 00:10] najuzilu commented on #196
I just tested the odu lecture (newly downloaded version from our website, not the one where I fix the issue) using `interpolation=2.1.6` and it fails, so the fix I've finalized should take care of the failures for all versions. Just to be sure, I'm running a coverage now.

[2020-05-12 00:17] najuzilu commented on #196
@mmcky is `navy_captain` working as is or has a fix been implemented? This lecture fails on my local build.

[2020-05-12 02:56] mmcky opened #211 "[numba] File numba bug report"
- [ ] construct minimal example documenting the issue we had in `odu` lecture (#210)
- [ ] setup a bug report for `numba` with floating point values

May just need:

[code]

[here](https://github.com/numba/numba/blob/5dbed9dc7b8c01ee64a48d7a255896f0e5ce4db8/numba/parfors/array_analysis.py#L429)

[2020-05-12 08:10] Harveyt47 opened #212 "New lecture on income inequality"
New data-centric lectures on changes in income inequality.

One area of interest is how income inequality has changed over time and space. i.e. has income inequality increased in country X over the past 100 years?

This [paper]( https://www.newyorkfed.org/medialibrary/media/research/epr/2019/epr_2019_wage-inequality_abel-deitz.pdf) looks at wage inequality in different areas of the US and does ana

[2020-05-13 03:28] Harveyt47 commented on #212
Also a good [paper](https://www.minneapolisfed.org/research/qr/qr3711.pdf) on this topic. They use SCF data

[2020-05-13 03:32] Harveyt47 commented on #212
We could do this with Australian data but the only source I can think of which gives us what we need is HILDA and we won't be able to share that data with others.

Hence I think using US data is the best path.

[2020-05-13 05:53] jstac commented on #212
Hi @Harveyt47, can't we share aggregated data?  After all, lots of people show figures created from HILDA, which is essentially the same thing...

[2020-05-13 06:47] Harveyt47 commented on #212
Hi @jstac yes you are right we can share Aggregated data. See on page 6 [here](https://ada.edu.au/wp-content/uploads/2019/05/National_Centre_for_Longitudinal_Data_Access_and_Use_Guidelines_V3_0.pdf) under 'Usage'.

What is the best way to aggregate it? I might be able to do it by area

[2020-05-13 06:56] jstac commented on #212
Thanks @Harveyt47 .  You showed me a Lorenz curve from HILDA previously.  Can't we show that and the data points that define it?

[2020-05-13 07:05] Harveyt47 commented on #212
I used the household level data to make that curve, which I think is Unit Record Data so I would need to aggregate the data in some way to share the data points with others.

[2020-05-13 07:07] #164 closed

[2020-05-13 07:08] jstac commented on #212
I see.  I think we could just include the data points themselves, along with the plot of them, and explain where they come from (but that the data is confidential).

[2020-05-13 07:17] Harveyt47 commented on #212
Yes that sounds good. I can do that thanks @jstac

[2020-05-13 08:20] Harveyt47 commented on #212
So we could show something like this
![image](https://user-images.githubusercontent.com/58153750/81788747-5d130b80-9546-11ea-88cc-b650cd28b633.png)

[2020-05-13 08:39] jstac commented on #212
Wow.  That's a big spike.  Just before the GFC.  Fascinating.  I wonder how closely this correlates with returns on assets (CC @shlff)?

Any earlier data available?  Any estimates?  Other sources of income data?

Anyway, we can definitely include that --- we can give as much info as possible to help people replicate ("To get access to the data, try this.." etc.)

How about data from US / Japan / C

[2020-05-13 10:36] Harveyt47 commented on #140
Hi Guys, just on this when I remove the `if` and `else` statement from this code
[code]
the error goes away. so something like this works
[code]
gives no errors just a warning.

[2020-05-13 10:38] Harveyt47 commented on #140
I replicated the error and asked numba and got the following reply
![image](https://user-images.githubusercontent.com/58153750/81802505-8e490700-9559-11ea-916a-6b7409d4dd17.png)

[2020-05-13 10:38] Harveyt47 commented on #140
There should ne `@njit(parallel=True` above the functions

[2020-05-13 10:54] Harveyt47 commented on #212
Hey @jstac HILDA only started in '01. I'll look for other sources of data. I know the ABS has some stuff on income data going back to 1994-95, see data [here](https://www.abs.gov.au/household-income), but am unsure of the quality I can get it at (hopefully I can get more than percentiles).

Yeah I have some good documentation on how you can get the HILDA data and then how to use it.

I'm Looking i

[2020-05-13 16:11] thomassargent30 commented on #212
I recommend not having a stand alone lecture on income inequality.  It
should be bundled with a lecture on consumption inequality.

On Tue, May 12, 2020 at 9:28 PM Harvey Thompson <notifications@github.com>
wrote:

[2020-05-13 21:48] mmcky commented on #196
`odu` is fixed and `navy_captain` for `numba>=0.49` is tracked #140

[2020-05-13 21:48] #196 closed

[2020-05-13 21:50] mmcky commented on #140
@Harveyt47 not sure what you mean here. Is this a fix? Can we open a PR for `navy_captain` compatibility with `numba >= 0.49`

[2020-05-13 22:42] jstac commented on #212
Thanks for the comment @thomassargent30.  Aside from general interest, the long game is to model the joint distribution of earnings and wealth, particularly at the tails.  The need to match the joint distribution puts useful restrictions on the model.  I'm thinking here of http://www.econ.nyu.edu/user/benhabib/earnings%20and%20wealth.pdf.

Is your point that consumption is more important for welfa

[2020-05-13 23:09] thomassargent30 commented on #212
My reasons are several, including consumption being more important than
welfare.  There is an influential group of macroeconomists who have
emphasized the greater equality in consumption than in income or in
wealth.  We want to attract them and their students to our lecture.

On Wed, May 13, 2020 at 4:42 PM John Stachurski <notifications@github.com>
wrote:

[2020-05-14 06:18] Harveyt47 commented on #212
Hi @thomassargent30 , I think it's a really good idea to add consumption inequality. I think it will make for interesting discussion. We should be careful with the data for consumption as it can be harder to measure accurately.

@jstac regarding finding the data, I have already found consumption data for Italy see page 9 [here](https://www.bancaditalia.it/statistiche/tematiche/indagini-famiglie-im

[2020-05-15 03:18] jstac commented on #212
That's great @Harveyt47 , well done.  I suppose we can treat the consumption data in the same way, looking at the Gini coefficient.  I'm excited to see this come together.

[2020-05-15 03:59] Harveyt47 commented on #212
That sounds like a good idea. @jstac I was wondering if you knew who put together the SCF_data.txt file [here](https://github.com/jstac/nyu_lecture_notes/blob/master/figures_source/SCF_data.txt)

[2020-05-18 09:37] #170 closed

[2020-05-18 10:15] mmcky commented on #140
The latest test run for `numba=0.49` (see PR #208) seems to be resolved after the update provided by @shizejin in PR #217

[2020-05-18 10:15] #140 closed

[2020-05-19 03:04] mmcky opened #220 "[about_lectures] Link needs to be updated"
The link in `about_lectures.rst` needs to be updated to

https://quantecon.org/python-lectures/

<img width="948" alt="image" src="https://user-images.githubusercontent.com/8263752/82279959-17849180-99d1-11ea-940a-b7a77cbcf47d.png">

[2020-05-19 03:04] mmcky commented on #220
- [ ] check programming
- [ ] check advanced

[2020-05-19 04:35] Harveyt47 commented on #220
Hi @mmcky yes this link need to be updated across all three repos. I'll make a PR

[2020-05-20 00:11] jstac commented on #212
Maybe Natasha or Juna?

This is a very nice summary of the data in income inequality / Ginis: https://ourworldindata.org/income-inequality

[2020-05-20 01:02] Harveyt47 commented on #212
@jstac that link has a cool data source. The data source has microdata collected from 50 countries.
See [here](https://www.lisdatacenter.org/our-data/).

[2020-05-21 04:52] #220 closed

[2020-05-28 02:42] najuzilu commented on #212
@jstac I like the way they tell the story. I'm a +1 on replicating some of their work in python.

[2020-05-29 04:52] Harveyt47 commented on #212
Hi @jstac

@najuzilu , @sayaikegawa  and I had a meeting about the inequality lecture and decided to look for more aggregated data instead of microdata as it is easier to find for more countries and as the type of data we want to look at (gini coefficient over time, top 10% income share), using countries statistical institutes will provide enough of the data to present those figure.

We will, howe

[2020-05-29 06:17] jstac commented on #212
Thanks @Harveyt47 , sounds like a good plan.  It will be interesting to learn something about those correlations you mention at the end, if they exist.  (Although, at the first stage, it might be best to focus purely on description.  Let's see what has happened before we try to figure out why it has happened.)

Let me know if you think I can help with access.

[2020-06-01 01:13] mmcky commented on #211
@najuzilu I think this is fixed now right?

[2020-06-01 01:14] mmcky commented on #143
@najuzilu do we need to setup a PR to cater to this change once we start using `numba=0.49`. I thought `numba=0.49` was tested and passing though. So maybe this is no longer an issue.

[2020-06-01 01:46] najuzilu commented on #211
Yes it has been fixed.

[2020-06-01 02:22] najuzilu commented on #143
The `jitclass` decorator is just a warning which is why `numba=0.49` tests passed through.
@Harveyt47 has already set up a PR for this repository. I'll review it and see if we need to set up PRs for the other two sets of lectures.

[2020-06-01 02:32] mmcky commented on #211
thanks @najuzilu I will leave you with the satisfaction of closing an issue :-)

[2020-06-01 02:39] #211 closed

[2020-06-01 04:01] najuzilu commented on #143
@mmcky @Harveyt47 Should we also label this issue `on-hold` until we transition to `numba=0.49`?

[2020-06-07 21:03] spspitze opened #226 "Minor Issues in *Asset Pricing with Incomplete Markets*"
Hello again. Some minor typos in *Asset Pricing with Incomplete Markets*

1. For the pessimists' beliefs, you copied the optimists' beliefs.

1. For `price_optimistic_beliefs()` (and pessimistic) you specify `tol=1e-16` in during inputs but the code compares to `1e-12`. Also there seems to be no need to pre-assign `p_old` before the loop starts.

1. I didn't quite get why the price of the asset ha

[2020-06-08 02:40] jstac commented on #226
Thanks @spspitze, much appreciated.  @Harveyt47, would you mind to take a look?

[2020-06-08 02:42] Harveyt47 commented on #226
Hi @jstac yep I'll have a look at it now.

[2020-06-08 12:12] Harveyt47 commented on #226
@spspitze is right the pessimists transition matrix [here](https://python.quantecon.org/harrison_kreps.html#Optimism-and-Pessimism) should be `[[2/3, 1/3], [2/3, 1/3]]` I believe.

Also we do not use `tol` in both `price_optimistic_beliefs()` and `price_pessimistic_beliefs()`. I'll make a PR

[2020-06-21 02:16] #192 closed

[2020-06-21 02:17] jstac commented on #137
I've lots track of this issue.  @shizejin , do you know if it can be closed?

[2020-06-21 02:19] jstac commented on #50
@Harveyt47, would you mind to let us know the status of this?

[2020-06-21 02:50] shizejin commented on #137
Hi @jstac, yes Tom has helped moving the changes I made to the sandpit repo here through [this commit](https://github.com/QuantEcon/lecture-python/commit/ab41c57ce3c69d7c3f1d21496db809bac6a509a9) and I think it should be fine to close this issue now.

[2020-06-21 06:20] shlff commented on #212
Thanks @jstac , @thomassargent30 , @Harveyt47 and @najuzilu for your excellent comments and work. I'd like to briefly introduce and share a small part of my thesis work (under @jstac 's supervision) on joint income-wealth distribution and dynamic inequality. Please see [repo](https://github.com/jstac/collaboration_with_shu/tree/master/3_thesis_public), where I did two things:

1. Use [Kuhn, Schula

[2020-06-21 12:24] #137 closed

[2020-06-21 12:27] jstac commented on #212
Thanks @shlff , I think it is ideal for the US case.

How hard would it be to convert this to Python, do you think?

[2020-06-21 12:49] shlff commented on #212
Thanks @jstac . I think it would not be too hard to convert it into Python. The Stata do file consists of two parts:
- The first part is to clean data and construct aggregate income and wealth variables for each observation;
- The second part with many loops is to merge data, construct joint income-wealth distributions and generate Gini coefficients across time.

I converted the first part into Py

[2020-07-05 11:13] Harveyt47 commented on #50
Hi @jstac from the research I did the main problem is setting a seed across all the threads.

For example in the case of the gini coefficient curve the household wealth distribution comes from the function `update_cross_section`. If we were to simply set a seed in that function it would only get stored a TLS slot in the main thread, while the other threads  just get random junk based on the entrop

[2020-08-19 00:24] mmcky opened #237 "[multi_hyper] Issue with numpy generate causing kernel to die"
The `kernel dies` at the following block:

<img width="1033" alt="Screen Shot 2020-08-19 at 10 23 27 am" src="https://user-images.githubusercontent.com/8263752/90578247-2d8b3380-e206-11ea-9572-6a8dfc681033.png">

this was picked up by nightly testing

[2020-08-19 01:52] mmcky opened #238 "[ols] Issue with latest matplotlib for marker="""
There appears to be an issue with the latest `matplotlib=3.3.1`

https://github.com/matplotlib/matplotlib/issues/18291

[2020-08-19 02:25] mmcky commented on #238
This is a confirmed issue on `matplotlib` and they are working on a fix

[2020-09-11 06:40] mmcky opened #240 "[TST] Issue with environment.yml"
There is an issue with the current `environment.yml` that doesn't occur when using `anaconda=2020.07`

[code]

PR #239 will switch to use the full `anaconda distribution` for now.

[2020-09-21 18:40] aorestrup opened #244 "Cake Eating - Numerical; interpolation issue"
I am trying to run the notes on Cake Eating II - Numerical Methods (https://python.quantecon.org/cake_eating_numerical.html) and I am having issues with "!pip install interpolation". I'm getting the following message below. Anything that I am doing wrong? Thanks in advance.

Collecting interpolation
  Using cached https://files.pythonhosted.org/packages/37/de/2e541d51046d637758b43cbb373250bc0b0dd6

[2020-09-21 19:38] jstac commented on #244
It looks like a permissions error -- maybe you are not the root user on your machine?

Did you try the error message suggestion: `!pip install --user interpolation` ?

There's also a conda install option for the package that might be worth trying: https://github.com/EconForge/interpolation.py

[2020-09-24 20:05] aorestrup commented on #244
Thanks. It was a permission error.

Can I ask another question that I am struggling with. When I try to run the code on Spyder, I am getting the following error (when trying to generate the fig on p.6)

  File "<ipython-input-28-7f6244f998f6>", line 45, in <lambda>
    objective = lambda x: -g(x, *args)

TypeError: bad operand type for unary -: 'NoneType'

This does not happen when I run this code

[2020-09-24 22:41] jstac commented on #244
Stick with Jupyter `:-)`

Or edit a `*.py` file with https://code.visualstudio.com/ or similar, using the Python extension.

I don't use Spyder but the above two options are more stable.

[2020-10-05 22:40] mmcky opened #247 "BUG: PDF file is not Complete"
@AakashGfude would you mind having a look into why the current PDF production is failing.

I have initiated a clean build just in case that is the cause.

[2020-10-07 02:05] jstac opened #251 "Harrison-Kreps lecture discrepancy"
The pessimistic matrix [here](https://python.quantecon.org/harrison_kreps.html#Optimism-and-Pessimism] does not agree with the one used in the exercises.

[2020-10-07 08:20] jms202 opened #260 "Policy function accuracy in Cake Eating II"
The lecture suggests that time iteration is likely to be more accurate than value function iteration.

But playing around with the solution to Exercise 2 suggests that most of the heavy lifting is done by (i) a smaller solution tolerance (1e-5 rather than 1e-4), (ii) you set x_grid_min=0.0, and (iii) the fact that you "handle small x separately" in the K() time iteration operator.

It seems that s

[2020-10-12 23:38] AakashGfude opened #269 "[BUG] Multivariate_normal.rst has syntax issues"
The syntax issues all of which I have not been able to pinpoint yet have been causing pdf compilation errors.
Someone with good experience of writing in rst will help expedite finding the fix.

[2020-10-12 23:42] AakashGfude commented on #269
one identified section causing this error is https://github.com/QuantEcon/lecture-python/blob/master/source/rst/multivariate_normal.rst#one-dimensional-intelligence-iq . Text up to this section is okay.
sections after this section still need to be verified

[2020-10-13 02:08] AakashGfude commented on #269
another is https://github.com/QuantEcon/lecture-python/blob/master/source/rst/multivariate_normal.rst#another-representation

[2020-11-02 07:32] AakashGfude commented on #269
Finally, the reason for this was that the lecture had italicized math symbols, one example:
[code]

which needed to be converted to:

[code]

And newline characters in math directives, one example:

[code]

which needed to be converted to:
[code]

[2020-11-02 22:44] #143 closed

[2020-11-03 01:21] #269 closed

[2020-12-11 00:21] mmcky commented on #247
this has been fixed

[2020-12-11 00:21] #247 closed

[2020-12-14 10:16] jms202 opened #280 "Issue with solution to Ex 2 in LQ Control: Foundations lecture"
In the lecture LQ Control: Foundations, the solution to Exercise 2 includes the following line:

`Rf2 = lq_retired.P`

Is this correct? Isn't `Rf2` supposed to be the terminal value function not the `P` matrix? The documentation for the `LQ' constructor says:

[code]

[2020-12-17 05:26] shlff commented on #280
Thanks @jms202 and @jstac .

Hi @jms202 , this is correct. Please look at section [solution](https://python.quantecon.org/lqcontrol.html#Solution) in lecture lq_control.

You are half right in that
- ``Rf2`` is supposed to be the terminal condition (not the terminal value function), that is, $x'Rf2x=J_T(x)$.

But please note that both in the lecture and exercise 2, we are discussing a finite-horiz

[2020-12-18 08:51] jms202 commented on #280
Hi there,

Thanks for your reply. This is helpful.

The one remaining thing I don't understand is why $d_K=0$ given the
recursion $d_{t-1} = \beta * (d_t + trace(C' P_t C))$ anc C does not equal
the zero vector. Or can we just ignore it because it doesn't depend on x?

Thanks,
Jonathan

On Thu, 17 Dec 2020 at 05:26, Shu Hu <notifications@github.com> wrote:

[2020-12-18 23:50] shlff commented on #280
Hi @jms202 ,

Thanks for your appreciation.

Before answering your question, please allow me to clarify your statement:
- I think what your statement refers to is equation (13) in lecture [lqcontrol](https://python.quantecon.org/lqcontrol.html),
- i.e., $d_{t-1} = \beta * (d_t + trace(C' P_t C))$ with $d_T=0$ (instead of $d_K=0$)

Let me assume this first. Please note that
- we derive equation (13

[2020-12-21 09:39] jms202 commented on #280
Hi Shu,

Many thanks for this.

Exercise 2 is complicated because it has to be implemented as two chained
LQ problems.

T = end of life
K = end of working life (i.e. start of retirement)

When I wrote $d_{K}$, I did mean $d_{K}$ not $d_{T}$. i,e, my question is
about the terminal condition to feed into lq_working.

Because K < T, we should have that $d_{K}$ is not equal to zero.

This is why I am

[2020-12-30 23:52] mmcky opened #303 "Add interpolation from conda-forge"
[interpolation package](https://anaconda.org/conda-forge/interpolation) has been added to `conda forge` so we can use that channel to install

[code]

should become

[code]

[2020-12-31 08:42] mmcky opened #304 "[ifp] Issue with mathblock"
There is an issue with a mathblock on the ifp lecture

[code]

[2020-12-31 18:45] jstac commented on #304
Should the `\tag{10}` be there?

[2020-12-31 22:08] mmcky commented on #304
thanks @jstac added a fix for this. Once CI is green I will merge.

The `tag` is added as a numbering technique from `jupinx` build system.

[2020-12-31 22:15] #304 closed

[2020-12-31 22:15] mmcky commented on #304
thanks @shlff I was able to fix this one.

[2020-12-31 23:44] shlff commented on #304
Thanks @mmcky . Glad to learn this rule in ``jupinx``.

[2021-01-03 04:26] mmcky opened #328 "[CI] Issue with jinja2==2.11.2 (pinned to jinja2==2.11.1)"
`CI` has caught an issue with the latest `jinja2` bundled with anaconda.

Currently pinning `jinja2` to `2.11.1` so `templates` can be used in `previews` and `check builds`

[2021-01-03 04:53] mmcky commented on #328
There is a secondary issue with `nbconvert`

- [ ] unpin `anaconda==2020.07` once worked through these issues

[2021-01-12 23:54] mmcky opened #347 "Fix Linkchecker Issues"
There are some `broken` links as reported by the nightly `linkchecker` run.

https://github.com/QuantEcon/lecture-python/runs/1690096183?check_suite_focus=true

@shlff would you be able to look through the log file under the `linkcheck` action and fix any items against `broken` that are displayed in the log.

[code]

[2021-01-13 00:41] shlff commented on #347
Thx @mmcky . I checked all links in the log file under the ``linkcheck`` action and find the following link is the only broken link detected there:
- https://nbviewer.jupyter.org/github/QuantEcon/QuantEcon.notebooks/blob/master/aiyagari_continuous_time.ipynb

A strange thing here is that this link seems NOT to be broken since it is still working (please click the link above).

[2021-01-13 00:42] mmcky commented on #347
thanks @shlff I will re-run the checker.

[2021-01-13 00:47] mmcky commented on #347
thanks @shlff appears to be a false positive.

[2021-01-13 00:47] #347 closed

[2021-02-09 00:17] mmcky commented on #328
Closing this as `lecture-python.myst` is building with `anaconda=2020.11` so not worth investing to fix this here.

[2021-02-09 00:17] #328 closed

[2021-02-09 00:24] mmcky commented on #303
@jstac we would need to specify the `conda-forge` channel for the `interpolation` package so I don't really see a lot of benefit in making the change. What do you think?

[2021-02-09 00:26] mmcky commented on #260
@shlff would you mind to take a look at this.

[2021-02-09 00:26] mmcky commented on #251
@shlff would you be able to review?

[2021-02-09 00:27] #244 closed

[2021-02-09 00:28] mmcky commented on #240
not going to fix in this repo due to migration to `lecture-python.myst` in the near future

[2021-02-09 00:28] #240 closed

[2021-02-09 00:28] mmcky commented on #238
@shlff can you review this issue and see if this can be closed?

[2021-02-09 00:29] mmcky commented on #237
@shlff can you run this lecture in `anaconda=2020.11` environment and see if this is still a problem?

[2021-02-09 00:30] mmcky commented on #251
@shlff I think this might be related to #226

[2021-02-09 01:15] mmcky commented on #168
@sayaikegawa @jstac is this now resolved?

[2021-02-09 01:19] mmcky commented on #182
Closing this as we migrate to `myst` -- we will need to implement this diagnostic information for `jupyter-book` as a fresh sheet design.

[2021-02-09 01:19] #182 closed

[2021-02-09 10:27] sayaikegawa commented on #168
This issue is discussed in #51, close this.

[2021-02-09 10:27] #168 closed

[2021-02-10 05:33] shlff commented on #49
Thanks @mmcky and @jstac . I will proofread the math and English of lecture ``AR1`` carefully again before I close this issue.

[2021-02-10 05:42] shlff commented on #237
@mmcky , I can run this lecture in my ``anaconda=2020.11`` environment and it is no longer a problem.

[2021-02-10 05:45] shlff commented on #251
Thanks @mmcky and @jstac . I will create a PR to fix this issue and what we mentioned in #226 .

[2021-02-10 08:36] mmcky commented on #237
thanks @shlff

[2021-02-10 08:36] #237 closed

[2021-02-11 00:40] shlff commented on #49
Hi @jstac and @mmcky , I read ``AR1 lecture`` carefully again and do not find any more typo in English and maths.

Do you think we should close this issue?

[2021-02-11 01:57] jstac commented on #49
Thanks @shlff

[2021-02-11 01:57] #49 closed

[2021-02-22 11:05] jms202 opened #373 "Error in "Asset Pricing with Incomplete Markets" lecture"
The matrix immediately following the text "Temporarily pessimistic believe the transition matrix" should be:

[[2/3, 1/3], [2/3, 1/3]]

as it is in the solution to the exercise

[2021-02-22 12:09] jms202 opened #374 "Error in Ex 1 solution in "Asset Pricing with Incomplete Markets" lecture"
Is there an error in the solution to Exercise 1 in the Asset Pricing with Incomplete Markets lecture?

When I run the code, the function `price_optimistic_beliefs()` is returning 2 x 2 matrices rather than a two-element vector. Here's the output I'm getting:

[code]

[2021-02-22 12:11] jms202 commented on #374
Sorry, my fault, there is no issue - I realised what the problem is.

[2021-02-22 12:11] #374 closed

[2021-02-22 17:40] jstac commented on #374
@jms202 no problem, please let us know if you have other feedback.

[2021-02-22 17:44] jstac commented on #373
Thanks @jms202 .  @sayaikegawa or @shlff, could you please review this when you have time and submit a PR?  (Unless you would like to submit a PR @jms202 ?)

Also, the word "investor" should be inserted before "pessimistic" in the line quoted above.

[2021-02-22 22:39] shlff commented on #373
Thanks @jstac , @jms202 and @sayaikegawa . The merged PR #368 had already fixed this issue.

[2021-02-23 00:22] jstac commented on #373
Thanks @shlff .

@jms202, are you using the PDF version?  If so, is it the most recent?

[2021-02-23 08:47] jms202 commented on #373
No I'm using the web version:
https://python.quantecon.org/harrison_kreps.html.

The matrices P_o and P_p are still appearing the same for me.

On Tue, 23 Feb 2021, 00:22 John Stachurski, <notifications@github.com>
wrote:

[2021-02-23 17:41] jstac commented on #373
@mmcky , can you please tell me if the merge has been made live?

[2021-02-23 20:31] mmcky commented on #373
@jstac I just reviewed the last set of changes on the preview server and these changes (which includes #368) and they are now `live`.

[2021-02-23 21:30] jstac commented on #373
Thanks @mmcky .  Hopefully that fixes your issue @jms202 .  (Might need to refresh browser.)  If not please reopen.

[2021-02-23 21:30] #373 closed

[2021-02-26 09:04] jms202 opened #376 "Probit second derivative issue"
In the Maximum Likelihood lecture, can you check the second derivative of the Probit likelihood that is given in the solution to Exercise 1?

I can't promise my algebra is right, but the answer I get differs in three ways:

- Signs are different: the "-" in the first fraction is a "+" and vice versa in the numerator in the second fraction
- I get no floating x'beta terms: in both cases, x'beta is

[2021-02-26 21:59] jstac commented on #376
@natashawatkins, do you have time to look at this?

I guess @jms202 is referring to this: https://python.quantecon.org/mle.html#Solutions

[2021-02-26 22:32] natashawatkins commented on #376
Will do!

[2021-03-01 09:33] natashawatkins commented on #376
Hi @jms202,

- The negative sign arises from the first fraction being multiplied by -1 (so there is a + between the two terms in the denominator), and this is multiplied through to get + for the second term
- x'beta comes from a property of the standard normal distribution that phi'(x) = -x phi(x), try taking the first derivative of the pdf itself to see
- You are correct that the subscript i is a

[2021-03-01 18:15] jstac commented on #376
Thanks @natashawatkins, much appreciated.

@mmcky , would you mind to just remove this subscript?  `\phi_i` can be changed to `\phi`.

@jms202 Thanks for reporting.

[2021-03-02 00:44] #376 closed

[2021-12-20 00:28] akulpillai opened #383 "[Security] Workflow preview.yml is using vulnerable action nwtgck/actions-netlify"
The workflow preview.yml is referencing action nwtgck/actions-netlify using references v1.1. However this reference is missing the commit [223b5b5981680adfe8ec4c9f471620cbbdbfadec](https://github.com/nwtgck/actions-netlify/commits/223b5b5981680adfe8ec4c9f471620cbbdbfadec) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to: